
/*body {
  background-color: #fafafa;
}*/

.menuMargin {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.belowMenuSection {
  padding-top: 60px;
  background: white;
  padding-left: 25%;
  padding-right: 25%;
}

.navBarAppName a{
  color: #777;
  text-decoration: none;
}

.navBarAppName a:hover{
  color: #5e5e5e;
}